name: Pull Request CI

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - main
      - dev

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        project: [backend, frontend]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@v1
        with:
          sdk: stable

      - name: Install dependencies
        run: |
          if [ "${{ matrix.project }}" = "frontend" ]; then
            flutter pub get --directory=${{ matrix.project }}
          else
            dart pub get --directory=${{ matrix.project }}
          fi

      - name: Run static analysis
        run: |
          if [ "${{ matrix.project }}" = "frontend" ]; then
            flutter analyze ${{ matrix.project }}
          else
            dart analyze ${{ matrix.project }}
          fi

      - name: Run tests
        run: |
          if [ "${{ matrix.project }}" = "frontend" ]; then
            flutter test ${{ matrix.project }}
          else
            dart test ${{ matrix.project }}
          fi
